export(mlds, Get6pts, ix.mat2df, lik6pt, make.ix.mat,
       pmc, simu.6pt, SwapOrder, runSampleExperiment,
	DefineMyScale, DisplayOneTrial, boot.mlds, Rbind)

S3method(AIC, mlds)
S3method(fitted, mlds)
S3method(lines, mlds)
S3method(logLik, mlds)
S3method(plot, mlds)
S3method(points, mlds)
S3method(predict, mlds)
S3method(print, mlds)
S3method(print, summary.mlds)
S3method(summary, mlds)

